dotenv_if_exists

# export ANTHROPIC_BASE_URL="http://apfelmus:11434"
# export ANTHROPIC_AUTH_TOKEN="ollama"

# export OLLAMA_HOST="http://apfelmus:11434"
export CLOUDSDK_CORE_PROJECT="proj-prod-ai"

# export ANSIBLE_ALLOW_BROKEN_CONDITIONALS=True
# export ANSIBLE_INVENTORY=./inventory-ssh
# export ANSIBLE_VAULT_PASSWORD_FILE=~/.ansible-vault-pass
